---
# tasks file for pg-gitea role
# https://docs.gitea.com/installation/database-prep#postgresql

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes

- name: Install psycopg2 Python library # Required for postgresql
  ansible.builtin.apt:
    name: python3-psycopg2
    state: present

- name: Install PostgreSQL server and client
  ansible.builtin.apt:
    name:
      - "postgresql-{{ postgresql_version }}"
      - "postgresql-contrib-{{ postgresql_version }}"
    state: present

- name: Ensure PostgreSQL service is running and enabled
  ansible.builtin.systemd:
    name: postgresql
    state: started
    enabled: yes

- name: Ensure 'locales' package is present
  ansible.builtin.apt:
    name: locales
    state: present
  when: ansible_facts['os_family'] == "Debian"

- name: Generate en_US.UTF-8 locale on the host
  ansible.builtin.command: locale-gen en_US.UTF-8
  changed_when: true # Assume change happens
  become: true

- name: Create Gitea database user
  community.postgresql.postgresql_user:
    name: "{{ gitea_db_user }}"
    password: "{{ gitea_db_password }}"
    role_attr_flags: LOGIN
    state: present
  become_user: postgres

- name: Create Gitea database
  community.postgresql.postgresql_db:
    name: "{{ gitea_db_name }}"
    owner: "{{ gitea_db_user }}"
    encoding: "UTF8"
    lc_collate: "en_US.UTF-8"
    lc_ctype: "en_US.UTF-8"
    template: "template0"
    state: present
  become_user: postgres

# - name: Grant all privileges on Gitea database to Gitea user
#   community.postgresql.postgresql_query:
#     login_db: "{{ gitea_db_name }}"
#     query: |
#       GRANT ALL PRIVILEGES ON DATABASE {{ gitea_db_name }} TO {{ gitea_db_user }};
#       GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA public TO {{ gitea_db_user }};
#       GRANT ALL PRIVILEGES ON ALL SEQUENCES IN SCHEMA public TO {{ gitea_db_user }};
#       GRANT ALL PRIVILEGES ON ALL FUNCTIONS IN SCHEMA public TO {{ gitea_db_user }};
#       ALTER DEFAULT PRIVILEGES IN SCHEMA public GRANT ALL PRIVILEGES ON TABLES TO {{ gitea_db_user }};
#       ALTER DEFAULT PRIVILEGES IN SCHEMA public GRANT ALL PRIVILEGES ON SEQUENCES TO {{ gitea_db_user }};
#       ALTER DEFAULT PRIVILEGES IN SCHEMA public GRANT ALL PRIVILEGES ON FUNCTIONS TO {{ gitea_db_user }};
#   become_user: postgres

# - name: Grant CREATE privilege on public schema to gitea user
#   community.postgresql.postgresql_query:
#     login_db: "{{ gitea_db_name }}"
#     query: "GRANT CREATE ON SCHEMA public TO {{ gitea_db_user }};"
#   become_user: postgres

- name: Allow Gitea container to connect to the database
  community.postgresql.postgresql_pg_hba:
    dest: "/etc/postgresql/16/main/pg_hba.conf" 
    contype: host                               
    users: "{{ gitea_db_user }}"                
    databases: "{{ gitea_db_name }}"            
    method: scram-sha-256                       
    source: "{{ gitea_container_ip }}/32" 
    state: present
  become: true
  become_user: postgres
  notify: reload postgresql

- name: Configure PostgreSQL to listen on all network interfaces
  ansible.builtin.lineinfile:
    path: "/etc/postgresql/{{ postgresql_version }}/main/postgresql.conf"
    regexp: "^#?listen_addresses ="
    line: "listen_addresses = '*'" # Listen on all interfaces (may have to revisit with firewall rules)
    state: present
  notify: restart postgresql

# - name: Configure pg_hba.conf to allow connections from gitea LXC
#   ansible.builtin.lineinfile:
#     path: "/etc/postgresql/{{ postgresql_version }}/main/pg_hba.conf"
#     insertafter: "^# IPv4 local connections:" # Insert after local connections section to make it neat
#     line: "host    {{ gitea_db_name }}        {{ gitea_db_user }}    {{ gitea_container_ip }}/32       md5" # Allow MD5 auth from Gitea IP
#     state: present
#   notify: Restart postgresql

