target_node     = "pmox01"
hostname        = "traefik-lxc"
ostemplate      = "local:vztmpl/debian-12-standard_12.7-1_amd64.tar.zst"
memory          = "2048"
cpulimit        = "2"
cores           = "2"
description     = "Traefik LXC Container"
rootfs_storage  = "ceph"
rootfs_size     = "10G"
network_name    = "eth0"
network_ip      = "192.168.193.50/32"
network_bridge  = "vmbr0"
ssh_public_keys = "ssh-ed25519 the-public-key-bits user"
root_password   = "some-secret-for-bootstrapping"
