ui = true

storage "file" {
  path = "{{ vault_data_dir }}"
}

listener "tcp" {
  address = "0.0.0.0:{{ vault_port }}"
  tls_disable = {{ vault_tls_disable | lower }}
}

api_addr = "http://{{ ansible_default_ipv4.address }}:{{ vault_port }}"
cluster_addr = "http://{{ ansible_default_ipv4.address }}:8201"

disable_mlock = true

log_level = "INFO"
log_file = "{{ vault_log_dir }}/vault.log"
log_rotate_duration = "24h"
log_rotate_max_files = 30