[Unit]
Description=Keycloak Server
After=network.target

[Service]
Type=simple
User={{ keycloak_user }}
Group={{ keycloak_group }}
ExecStart=/opt/keycloak/bin/kc.sh start --optimized
WorkingDirectory=/opt/keycloak/bin
LimitNOFILE=102400
LimitNPROC=102400
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target