# https://www.keycloak.org/guides#server

hostname={{ keycloak_hostname }}
hostname-url=https://{{ keycloak_hostname }}
hostname-strict=true

# Database configuration
db={{ keycloak_db_vendor }}
db-url={{ keycloak_db_url }}
db-username={{ keycloak_db_username }}
db-password={{ keycloak_db_password }}
# Sets the hostname of the default JDBC URL of the chosen vendor
db-url-host={{ postgresql_lxc_ip }}

# Logging
log=console,file
log-level=INFO
log-file=/var/log/keycloak/keycloak.log

# Proxy configuration
# Required when running Keycloak behind a reverse proxy that terminates TLS
# 'edge' is typically used when the proxy terminates TLS and forwards (e.g., HTTP to Keycloak)
proxy=edge

# Explicitly tell Keycloak to read X-Forwarded-* headers from the proxy
proxy-headers=xforwarded

http-enabled=true
